<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  	<title>Documentation | Puppet Labs - <%= yield :page_title %></title>
  	<meta name="description" content="The open source leader in data center automation">
  	<link rel="alternate" type="text/xml" title="Puppet Labs RSS 0.92 Feed" href="http://puppetlabs.com/feed/rss/">
  	<link rel="alternate" type="application/atom+xml" title="Puppet Labs Atom Feed" href="http://puppetlabs.com/feed/atom/">
  	<link rel="alternate" type="application/rss+xml" title="Puppet Labs RSS 2.0 Feed" href="http://puppetlabs.com/feed/">
  	<link rel="pingback" href="http://puppetlabs.com/xmlrpc.php">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://puppetlabs.com/xmlrpc.php?rsd" />
    <link rel='index' title='Puppet Labs' href='http://docs.puppetlabs.com' />

<!-- Google stats -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-1537572-5");
pageTracker._setDomainName(".puppetlabs.com");
pageTracker._trackPageview();
} catch(err) {}</script>
<!-- End Google stats -->


    <!-- FIXME: absolute paths -->

    <script type='text/javascript' src='/files/javascripts/html5.js'></script>
    <script type='text/javascript' src='/files/javascripts/jquery-1.3.2.min.js'></script>
    <script type='text/javascript' src='/files/javascripts/drop_down.js'></script>
    <script type='text/javascript' src='/files/javascripts/code_highlighter.js'></script>

    <script type='text/javascript' src='/files/javascripts/cufon-yui.js'></script>
    <script type='text/javascript' src='/files/fonts/Klavika_400-Klavika_600.font.js'></script>
    <script type='text/javascript' src='/files/javascripts/ampersands.js'></script>


    <!-- All in One SEO Pack 1.6.10.1 by Michael Torbert of Semper Fi Web Design[127,146] -->
    <meta name="keywords" content="Puppet, puppet labs, reductive labs, open source, system administrator, ruby, data center, automation, support" />
    <link rel="canonical" href="http://docs.puppetlabs.com" />
    <!-- /all in one seo pack -->
	
    <!-- FIXME: absolute paths -->

    <link rel="stylesheet" type="text/css" href="/files/stylesheets/style.css" media="screen"> <!-- index -->

    <!--[if IE 7]>
	  <link rel="stylesheet" type="text/css" href="/files/stylesheets/ie_7.css" media="screen"> <!-- index -->
    <![endif]-->
  
    <!--[if IE 8]>
	    <link rel="stylesheet" type="text/css" href="/files/stylesheets/ie_8.css" media="screen"> <!-- index -->
    <![endif]-->		

  	<script type="text/javascript">
      Cufon.replace('h1, h2', { fontWeight: '600' });
  	</script>
</head>



        
  <body id="resources" class="docs">
  <style type="text/css">h1, h2{ visibility : hidden }</style>		
  <!--[if IE 8]>
    <style type="text/css">h1, h2{ visibility : visible }</style>
  <![endif]-->		

  	<header id="header">
      <div class="site-width">
    		<h1><a href="http://puppetlabs.com/"><span>Puppet Labs</span></a></h1>
        <a class="screen-reader-content" href="#content">Skip navigation</a>
        <nav>
      		<ul id="global-navigation">
            <li id="puppet-tab" class="with-submenu">

              <a href="http://puppetlabs.com/puppet/">
                <span>Puppet</span>
                <span class="drop-down-trigger"></span>
              </a>
              <ul>            
                <li>
                  <ul>
                    <li class="page_item page-item-757"><a href="http://puppetlabs.com/puppet/introduction/" title="Introduction">Introduction</a></li>
                    <li class="page_item page-item-769"><a href="http://puppetlabs.com/puppet/requirements/" title="Requirements">Requirements</a></li>
                    <li class="page_item page-item-828"><a href="http://puppetlabs.com/puppet/features/" title="Features">Features</a></li>
                    <li class="page_item page-item-956"><a href="http://puppetlabs.com/puppet/solutions/" title="Solutions">Solutions</a></li>
                    <li class="page_item page-item-1159"><a href="http://puppetlabs.com/puppet/users/" title="Users">Users</a></li>
                    <li class="page_item page-item-1074"><a href="http://puppetlabs.com/resources/white-papers" title="White Papers">White Papers</a></li>
                    <li class="page_item page-item-1495"><a href="http://puppetlabs.com/resources/case-studies" title="Case Studies">Case Studies</a></li>
                    <li class="page_item page-item-1044"><a href="http://puppetlabs.com/resources/downloads" title="Downloads">Downloads</a></li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li class="page_item page-item-751"><a href="http://puppetlabs.com/puppet/related-projects/dashboard/" title="Dashboard">Dashboard</a></li>
                    <li class="page_item page-item-753"><a href="http://puppetlabs.com/puppet/related-projects/facter/" title="Facter">Facter</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li id="services-tab" class="with-submenu">
              <a href="http://puppetlabs.com/services/">
                <span>Services</span>
                <span class="drop-down-trigger"></span>
              </a>
              <ul>
                <li class="page_item page-item-783"><a href="http://puppetlabs.com/services/overview/" title="Overview">Overview</a></li>
                <li class="page_item page-item-839"><a href="http://puppetlabs.com/services/support/" title="Enterprise Support">Enterprise Support</a></li>
                <li class="page_item page-item-845"><a href="http://puppetlabs.com/services/training-workshops/" title="On-Site Training &amp; Consulting">On-Site Training &amp; Consulting</a></li>
                <li class="page_item page-item-849"><a href="http://puppetlabs.com/category/events/upcoming/" title="Events &amp; Public Training">Events &amp; Public Training</a></li>
                <li class="page_item page-item-851"><a href="http://puppetlabs.com/services/partners/" title="Partners">Partners</a></li>
                <li class="page_item page-item-1037"><a href="http://puppetlabs.com/resources/customer-support" title="Customer Support">Customer Support</a></li>
              </ul>
            </li>
            <li id="resources-tab" class="with-submenu">
              <a href="http://puppetlabs.com/resources/">
                <span>Resources</span>
                <span class="drop-down-trigger"></span>
              </a>
              <ul>
                <li class="page_item page-item-1048"><a href="http://puppetlabs.com/resources/overview-2/" title="Overview">Overview</a></li>
                <li class="page_item page-item-1040"><a href="http://docs.puppetlabs.com" title="Documentation">Documentation</a></li>
                <li class="page_item page-item-872"><a href="http://puppetlabs.com/resources/downloads/" title="Downloads">Downloads</a></li>
                <li class="page_item page-item-835"><a href="http://puppetlabs.com/resources/white-papers/" title="White Papers">White Papers</a></li>
                <li class="page_item page-item-833"><a href="http://puppetlabs.com/resources/case-studies/" title="Case Studies">Case Studies</a></li>
                <li class="page_item page-item-1052"><a href="http://puppetlabs.com/resources/customer-support/" title="Customer Support">Customer Support</a></li>
              </ul>

            </li>
            <li id="community-tab">
              <a href="http://puppetlabs.com/community/">
                <span>Community</span>
              </a>
            </li>

            <li id="company-tab" class="with-submenu">
              <a href="http://puppetlabs.com/company/">
                <span>Company</span>
                <span class="drop-down-trigger"></span>
              </a>
              <ul>
                <li><a href="http://puppetlabs.com/company/">About Us</a></li>
                <li><a href="http://puppetlabs.com/company/#contact">Contact Us</a></li>
              </ul>
            </li>
      		</ul>	   
          <ul id="misc-navigation">
            <li><a href="http://docs.puppetlabs.com">Documentation</a></li>
            <li><a href="http://puppetlabs.com/resources/customer-support/">Support</a></li>
            <li><a href="http://puppetlabs.com/company/#contact">Contact Us</a></li>
            <li><a href="http://puppetlabs.com/resources/downloads" class="gateway">Download</a></li>
          </ul>
        </nav>
    	</div>
    </header>  

      <section id="masthead">
        <div class="site-width">
          <h1>Docs: <span class="section-name"><%= yield :page_title %></span></h1>
          <ul id="doc-navigation">
            <li><a href="/">Docs Home</a></li>
            <li class="with-submenu">
              <a href="#">
                <span>Quick Nav</span>
                <span class="drop-down-trigger"></span>
              </a>
               <!-- the following links can't be relative, unfortunately -->
               <!-- future: add some JS to disable this if running from file:// -->
	            <dl>
	              <dt>Guides</dt>
	              <dd><a href="/index.html">Index</a></dd>
                      <dt>Resource Types</dt>
	              <dd><a href="/guides/types/">By Category</a></dd>
	              <dd><a href="/guides/types/alphabetical_index.html">Alphabetical</a></dd>
	              <dt>References</dt>
                      <dd><a href="/references/2.6.0/">2.6.0</a></dd> 
                      <dd><a href="/references/0.25.5/">0.25.5</a></dd> 
	              <dd><a href="/references/0.25.4/">0.25.4</a></dd>
	              <dd><a href="/references/0.25.3/">0.25.3</a></dd>
	              <dd><a href="/references/0.25.2/">0.25.2</a></dd>
	              <dd><a href="/references/0.25.1/">0.25.1</a></dd>
	              <dd><a href="/references/0.25.0/">0.25.0</a></dd>
	              <dd><a href="/references/0.24.8/">0.24.8</a></dd>
	              <dd><a href="/references/">Older Versions</a></dd>
	            </dl>
            </li>
            <li><a href="/contribute.html">Contribute</a></li>
          </ul>
        </div>
      </section>
    
      <section id="content">
        <div class="site-width">
          <div class="primary-secondary-content">
            <div class="primary-content">
              <%= yield :header_section %>
              <%= yield %>
            </div>
            <div class="secondary-content">
              <%= yield :index_section %>
            </div>
          </div>
        </div>
      </section>

		<footer id="footer">
      <div class="site-width">
        <div class="primary-secondary-content">
          <div class="primary-content">
            <section id="newsletter">
                 <h4>Puppet Labs is Hiring</h4>
                 <p><a href="http://www.puppetlabs.com/company/jobs/">Engineers, developers & consultants</a>
                  <p>  
		<h4>Newsletter</h4>
              <p>Stay up to date on all things puppet</p>
              <form action="http://lfov.net/webrecorder/f" method="post" name="Newsletter" id="footerform">
                <input type="hidden" name="formid" value="3d424fd0-4204-435f-afde-aa1c4a6bc2f1"/>
                <input type="hidden" name="cid" value="LF_c268993e"/>
                <fieldset>
                  <legend>Newsletter</legend>
                  <label form="email">Email</label>
                  <input type="text" name="email" id="email" class="required email" />
                  <button type="submit">Subscribe</button>
                </fieldset>
              </form>

            </section>
            <section id="elsewhere">
              <h4>Get Involved</h4>
              <ul>
                <li class="chat"><a href="http://webchat.freenode.net/?channels=puppet" rel="external"><span class="indicator"></span><span>Chat with us on IRC</span></a></li>
                <li class="discussion"><a href="http://groups.google.com/group/puppet-users?pli=1" rel="external"><span class="indicator"></span><span>Join the Mailing List</span></a></li>
                
                <li class="linkedin"><a href="http://www.linkedin.com/groups?about=&gid=696467&trk=anet_ug_grppro" rel="external"><span class="indicator"></span><span>Join the Puppet Users LinkedIn group</span></a></li>

		

              </ul>
            </section>
          </div>
          <div class="secondary-content">
            <section id="book-it">
              <h4>Get the book!</h4>
              <p>Written by James Turnbull, <a href="http://apress.com/book/view/1590599780" rel="nofollow">Pulling Strings with Puppet</a> is the first book to introduce the powerful Puppet system administration tool. </p>
              <a href="http://apress.com/book/view/1590599780" rel="nofollow"><img src="http://puppetlabs.com/images/book.png" /></a>
            </section>
          </div>
        </div>
      </div>
		</footer>

    <div id="copyright">
      <div class="site-width">
        &copy; <?= date('Y'); ?> <a href="<?php bloginfo('url'); ?>/" title="<?php bloginfo('name'); ?>"><?php bloginfo('name'); ?></a>
        <span class="vcard">
         <span class="org"></span>
         <a class="email" href="mailto:info@puppetlabs.com">info@puppetlabs.com</a>
          <span class="adr">
           <span class="street-address">222 NW Davis Street</span>
           /
           <span class="locality">Portland</span>, 
           <span class="region">OR</span>
           <span class="postal-code">97209</span>

          </span>
         <span class="tel">1-877-575-9775</span>
        </span>          
      </div>
    </div>
    <!-- BEGIN: LOOPFUSE TRACKING -->
    <script src="http://lfov.net/webrecorder/js/listen.js" type="text/Javascript"></script>
    <script type="text/Javascript">
    _lf_cid = "LF_c268993e";
    _lf_remora();
    </script>
    <!-- END: LOOPFUSE TRACKING -->
    
  	<script type="text/javascript">Cufon.now();</script>
  	<style type="text/css">h1, h2, .btn { visibility : visible; }</style>

	</body>
</html>        
